{% extends "knowledgebase/layout.html" %}
{% block title %}
Home
{% endblock title %}
{% block content %}
<h2>Stored Documents</h2>

{% if document_list %}
    <table class="document_list">
        <thead>
        <tr>
            <th>Title</th>
            <th>Subtitle</th>
            <th>Association(s)</th>
        </tr>
        </thead>
        <tbody>
        {% for document in document_list %}
            <tr>
                <td>{{ document.title }}</td>
                <td>{{ document.subtitle }}</td>
                <td>{% for assoc in document.assocs.all %}{{ assoc.name }}, {% endfor %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No messages have been logged. Use the <a href="{% url 'log' %}">Log Message form</a>.</p>
{% endif %}   
{% endblock content %}