{% extends "knowledgebase/layout.html" %}
{% block title %}
    New Document
{% endblock title %}
{% block content %}

    <h2>New Document</h2>

    <form method="POST" class="document-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Create</button>
    </form>
 
{% endblock content %}