{% extends "knowledgebase/layout.html" %}

{% block content %}
    <h1>Document Search</h1>
    <form method="get">
        {{ filter.form.as_p }}
        <button type="submit">Search</button>
    </form>
    <br>
    {% if filter.is_valid %}
    <table rules="all">
        <thead align="left">
            <tr>
                <th>Release Date</th>
                <th>Document</th>
            </tr>
        </thead>
        <tbody>
        {% for document in filter.qs %}
            <tr>
                <td>{{ document.release_date }}</td>
                <td><a href="{{ document.source }}">{{ document }}</a></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">No data</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    Count: {{ filter.qs.count }}
    {% else %}
    <!-- Silently ignore all request with no criteria given -->
    {% endif %}
{% endblock content %}