{% extends "knowledgebase/layout.html" %}

{% block content %}
<h1>Grouped Evidence Search</h1>
<form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
</form>
<br>
{% if filter.is_valid %}
<table rules="all"  cellpadding="10%">
    <thead align="left">
        <tr>
            <th>Average Relevance</th>
            <th>Release Date</th>
            <th>Document</th>
            <th>Evidences</th>
        </tr>
    </thead>
    <tbody>
    {% for result in filter.qs %}
        <tr>
            <td>{{ result.avg_relevance }}</td>
            <td>{{ result.document.release_date }}</td>
            <td><a href="{{ result.document.source }}">{{ result.document }}</a></td>
            <td><table rules="all">
            <thead align="left">
              <tr>
                <th>Relevance</th>
                <th>Topic</th>
                <th>Reference</th>
              </tr>
            </thead>
            <tbody>
            {% for evidence in result.evidences %}
            <tr>
              <td>{{ evidence.relevance }}</td>
              <td>{{ evidence.topic }}</td>
              <td>{{ evidence.reference }}</td>
            </tr>
            {% endfor %}
          </tbody></table></td>
        </tr>
    {% empty %}
        <tr>
          <td colspan="5">No data</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
Count: {{filter.qs.count}}
{% else %}
<!-- Silently ignore all request with no criteria given -->
{% endif %}
{% endblock content %}