<!DOCTYPE html>
<html lang="en">
    <meta name="description" content="Knowledge Base">
    <meta name="keywords" content="Knowledge, Base">
    <head>
        <meta charset="utf-8" />
        <title>Hello, Knowledge Base!</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'knowledgebase/site.css' %}" />    
    </head>
    <body>
        <span class="message">Hello {{ name }}!</span> It's {{ date | date:"l, d F, Y" }} at {{ date | time:"H:i:s" }}
    </body>
</html>