<!DOCTYPE html>
<html lang="en">
    <meta name="description" content="Knowledge Base">
    <meta name="keywords" content="Knowledge, Base">
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}{% endblock title %}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'knowledgebase/site.css' %}"/>
        <link rel="shortcut icon" type="image/png" href="{% static 'knowledgebase/favicon.png' %}"/>
    </head>

    <body>
        <div class="navbar">
            <a href="{% url 'home' %}" class="navbar-brand">Home</a>
            <a href="/doc" class="navbar-item">Documentation</a> <!-- Must be a better way -->      
            <a href="{% url 'admin:index' %}" class="navbar-item">Admin</a>
            <a href="/data" class="navbar-item">Data</a> <!-- Must be a better way -->
            <a href="{% url 'document_search' %}" class="navbar-item">Document Search</a>
            <a href="{% url 'api_document_search' %}" class="navbar-item">API Document Search</a>
            <a href="{% url 'evidence_search' %}" class="navbar-item">Evidence Search</a>
            <a href="{% url 'api_evidence_search' %}" class="navbar-item">API Evidence Search</a>
            <a href="{% url 'grouped_evidence_search' %}" class="navbar-item">Grouped Evidence Search</a>
            <a href="{% url 'api_grouped_evidence_search' %}" class="navbar-item">API Grouped Evidence Search</a>
            <!-- <a href="{% url 'document' %}" class="navbar-item">New Document</a>
            <a href="{% url 'documents_csv' %}" class="navbar-item">Documents as CSV</a>
            <a href="{% url 'about' %}" class="navbar-item">About</a>
            <a href="{% url 'contact' %}" class="navbar-item">Contact</a> -->
        </div>

        <div class="body-content">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>